<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rampage</a>
    By Joe and Anuvind.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Videos", videos_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>